NEXT_PUBLIC_FORMSPREE_FORM_ID=xnjygonk
NEXT_PUBLIC_SITE_URL=https://your-vercel-domain.vercel.app
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_izavc5d
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_xh4fhss
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=gLNzSCrbPFVQAww4a